

<mat-card>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Admin Panel</h3>
  
        <a mat-list-item routerLink="/admin">
          <mat-icon>home</mat-icon>
          <span class="menu-text">Home</span>
        </a>
  
        <a mat-list-item routerLink="/admin/profile">
          <mat-icon>account_circle</mat-icon>
          <span class="menu-text">Profile</span>
        </a>
        <a mat-list-item routerLink="/admin/categories">
          <mat-icon>list</mat-icon>
          <span class="menu-text">Categories</span>
        </a>
        <a mat-list-item routerLink = "/admin/add-categories">
          <mat-icon>add_circle_outline</mat-icon>
          <span class="menu-text">Add Categories</span>
        </a>
        <a mat-list-item routerLink="/admin/quiz">
          <mat-icon>quiz</mat-icon>
          <span class="menu-text">Quizzes</span>
        </a>
        <a mat-list-item routerLink="/admin/add-quiz">
          <mat-icon>add_circle</mat-icon>
          <span class="menu-text">Add Quiz</span>
        </a>
        <a mat-list-item routerLink="" *ngIf="isLoggedIn" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span class="menu-text">Logout</span>
        </a>
  
      </mat-list>
    </mat-card-content>
  </mat-card>
 