.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  } 

.text-center{
    display: grid;
    justify-content: center;
}
.ml10{
  margin-left: 10px;
}
.desc{
  margin-bottom: 10px;
}
mat-divider{
  margin-top: 20px;
}

