
.example-header-image {
    background-image: url('../../../../assets/exam.png');
    background-size: cover;
}

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb-4 {
    margin-bottom: 1.5rem;
}


.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1;
}
