.example-spacer{
    flex: 1 1 auto;
}
.nav{
    background: linear-gradient(45deg, #ff9ff3, #25c6ea);
}
.register{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(24, 12, 133);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.left-nav{
    color: #b31a9f;
    font-size: 30px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.register {
    cursor: pointer;
  }
  