<mat-card>
    <div mat-subheader><h1>Update Quiz</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form *ngIf="quiz" (ngSubmit)="updateQuiz(quiz)">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" 
                            [(ngModel)]="quiz.title"
                            name="title"
                            required
                            matInput
                            placeholder="Enter title">
                            <!-- [(ngModel)]="quiz.title"> -->
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea type="text" 
                            [(ngModel)]="quiz.description"
                            name="description"
                            matInput
                            placeholder="Enter Description"></textarea>
                            <!-- [(ngModel)]="quiz.title"> -->
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md6 offset-md-2 ml10 w50">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Maximum Marks</mat-label>
                                    <input type="text" 
                                    required
                                    name="maxMarks"
                                    [(ngModel)]="quiz.maxMarks"
                                    matInput
                                    placeholder="Enter Maximum Marks">
                                    <!-- [(ngModel)]="quiz.title"> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md6 offset-md-2 ml10 w50">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Number of Questions</mat-label>
                                    <input type="text" 
                                    name="numberOfQuestions"
                                    [(ngModel)]="quiz.numberOfQuestions"
                                    matInput
                                    placeholder="Enter Number of Questions">
                                    <!-- [(ngModel)]="quiz.title"> -->
                                </mat-form-field>
                            </div>
                        </div>
                        

                        <mat-form-field class="w100">
                            <mat-label>Select Category</mat-label>
                            <mat-select [(ngModel)]="quiz.category" name="category">
                                <mat-option *ngFor="let c of categories" [value]="c">
                                    {{ c.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                          <mat-slide-toggle [(ngModel)]="quiz.active"
                            class="example-margin" name="active">
                            Publish Status
                        </mat-slide-toggle >
                        <div class="container center mt10">
                            <button mat-raised-button class="ml10" color="accent" type="submit">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>

